*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: #E5E5E5;
}

#root{
    display: flex;
    justify-content: center;
}

main{
    padding: 0 3rem;
}

.content{
    margin: 4rem 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: max-content;
    border-radius: 16px;
    width: 45rem;
    gap: 3rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 2rem;
    background: linear-gradient(to right, #672280, #A626D3);
    color: white;
    border-radius: 16px 16px 0 0;
}

.header--title{
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 13px;
}

.header--logo{
    width: 48px;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 1rem;
}

.form--input{
    border: 1px solid #D5D4D8;
    border-radius: 6px;
    text-indent: 12px;
}

.form--submit{
    grid-column: 1 / -1;
    color: white;
    background: linear-gradient(to right, #672280, #A626D3);
    font-size: 16px;
    font-weight: 900;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

.meme{
    grid-column: 1 / -1;
    height: fit-content;
    margin-bottom: 4rem;
    position: relative;
}

.meme--image {
    width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

